.slideup {
  transition: opacity 350ms ease-in,
              transform 350ms ease-in;
  transform: translateY(100%);
}

.slideup.visible {
  transform: translateY(0);
  opacity: 0.1;
}

.animation.slideup.hovered {
  opacity: 1;
}

.fadein {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fadein.visible {
  opacity: 1;
}